[submodule "verilog-library-barawn"]
	path = verilog-library-barawn
	url = git@github.com:LBeaufore/verilog-library-barawn.git
[submodule "pueo-pynq-designs"]
	path = pueo-pynq-designs
	url = git@github.com:pueo-pynq/pueo-pynq-designs.git
